h1{
  color: rgb(126, 170, 82);
  font-size:30px;
  font-weight: bold;
  font-family:"Brush Script MT",Arial;

}

body{
  background-color: rgb(243, 243, 243);
  font-family:"Brush Script MT",Arial;
  color: rgb(83, 167, 0);
}
table{
  background-color: rgb(253, 253, 253);
  color: rgb(83, 167, 0);
}

.phone{

  text-align:center;

}
a{
  text-decoration: none ;
  /*text-decoration: line-through;*/
  text-transform: uppercase;
}
a:hover{
  text-decoration:underline;
}
P{
  font-family:"Brush Script MT";
}
