    * {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    body {
        padding-left: 20%;
        padding-right: 20%;
        font-family: 'Brush Script MT', cursive;
        background-color: rgb(247, 238, 238);
    }
    
    img {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        width: 15%;
        margin-top: 15px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: .6s;
        -webkit-transition: .6s;
        -moz-transition: .6s;
        -ms-transition: .6s;
        -o-transition: .6s;
    }
    
    img:hover {
        transform: scale(1.12, 1.12);
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -webkit-transform: scale(1.12, 1.12);
        -moz-transform: scale(1.12, 1.12);
        -ms-transform: scale(1.12, 1.12);
        -o-transform: scale(1.12, 1.12);
    }
    
    h2 {
        margin-top: 20px;
        color: #333;
        font-weight: bold;
    }
    
    h3 {
        margin-top: 20px;
        color: #333;
        font-weight: bold;
        text-align: left;
    }
    
    @media (max-width: 576px) {
        img {
            width: 95%;
            margin-top: 40%;
        }
        h2 {
            margin-top: 91px;
            color: #333;
            font-weight: bold;
            font-size: 68px;
        }
        h3 {
            margin-top: 20px;
            color: #333;
            font-weight: bold;
            text-align: left;
            font-size: 52px;
        }
        p {
            font-size: 36px;
            margin-top: 37px;
        }
    }
    
    @media (min-width: 768px) {
        img {
            width: 95%;
            margin-top: 40%;
        }
        h2 {
            margin-top: 91px;
            color: #333;
            font-weight: bold;
            font-size: 68px;
        }
        h3 {
            margin-top: 20px;
            color: #333;
            font-weight: bold;
            text-align: left;
            font-size: 52px;
        }
        p {
            font-size: 36px;
            margin-top: 37px;
        }
    }
    
    @media (min-width: 992px) {
        img {
            width: 28%;
            margin-top: 30px;
        }
        h2 {
            margin-top: 20px;
            color: #333;
            font-weight: bold;
            font-size: 25px;
        }
        h3 {
            margin-top: 40px;
            color: #333;
            font-weight: bold;
            text-align: left;
            font-size: 25px;
        }
        p {
            text-align: left;
            font-size: 18px;
        }
    }